* {
    border: 2px double #388E3C;
    background-color: #18FFFF;
    text-align: justify;
}
/* unvisited link */
a:link {
    color: LIGHT BLUE;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  input:focus {
    background-color: yellow;
  }